<mat-card class="example-card">
  <mat-card-header><mat-card-title>Education</mat-card-title></mat-card-header>
  <mat-card-content>

  <mat-vertical-stepper>
    <ng-template matStepperIcon="number"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="edit"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="done"><mat-icon>school</mat-icon></ng-template>
    <mat-step completed=true>
      <ng-template matStepLabel>
        2016 - present<br>
        <strong>PhD Student</strong>
      </ng-template>
      Doctoral School of Biological and Geonomical Sciences<br>
      Moldova State University,
      Chișinău, R.M.
    </mat-step>
  </mat-vertical-stepper>

  <mat-vertical-stepper>
    <ng-template matStepperIcon="number"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="edit"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="done"><mat-icon>school</mat-icon></ng-template>
    <mat-step completed=true>
      <ng-template matStepLabel>
        2013 - 2018<br>
        <strong>Licentiate in Engineering</strong>
      </ng-template>
      Faculty of Physics and Engineering<br>
      Moldova State University,
      Chișinău, R.M.
    </mat-step>
  </mat-vertical-stepper>

  <mat-vertical-stepper>
    <ng-template matStepperIcon="number"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="edit"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="done"><mat-icon>school</mat-icon></ng-template>
    <mat-step completed=true>
      <ng-template matStepLabel>
        2018<br>
        <strong>JavaScript Internship</strong>
      </ng-template>
      "Titanium Soft"<br>
      Chișinău, R.M.
    </mat-step>
  </mat-vertical-stepper>

  <mat-vertical-stepper>
    <ng-template matStepperIcon="number"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="edit"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="done"><mat-icon>school</mat-icon></ng-template>
    <mat-step completed=true>
      <ng-template matStepLabel>
        2013 - 2015<br>
        <strong>Master in Natural Sciences</strong>
      </ng-template>
      Faculty of Biology and Pedology<br>
      Moldova State University,
      Chișinău, R.M.
    </mat-step>
  </mat-vertical-stepper>

  <mat-vertical-stepper>
    <ng-template matStepperIcon="number"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="edit"><mat-icon>school</mat-icon></ng-template>
    <ng-template matStepperIcon="done"><mat-icon>school</mat-icon></ng-template>
    <mat-step completed=true>
      <ng-template matStepLabel>
        2010 - 2013<br>
        <strong>Licentiate in Natural Sciences</strong>
      </ng-template>
      Faculty of Biology and Pedology<br>
      Moldova State University,
      Chișinău, R.M.
    </mat-step>
  </mat-vertical-stepper>

  </mat-card-content>
</mat-card>
