<mat-card>
  <mat-card-header><mat-card-title>Contacts</mat-card-title></mat-card-header>
  <mat-card-content>
    <p class="contact-text">
      <mat-icon class="contact-icon">email</mat-icon>
      <a href="mailto:radu.nita@mail.ru">radu.nita@mail.ru</a>
    </p>
    <p class="contact-text">
      <mat-icon class="contact-icon">public</mat-icon>
      <a href="https://facebook.com/Lure.Of.Lysergide">facebook.com/Lure.Of.Lysergide</a>
    </p>
    <p class="contact-text">
      <mat-icon class="contact-icon">public</mat-icon>
      <a href="https://github.com/Lure-of-Lysergide">github.com/Lure-of-Lysergide</a>
    </p>
    <!-- <p class="contact-text"><mat-icon class="contact-icon">phone</mat-icon>+373 67 57 87 29</p> -->
    <p class="contact-text"><mat-icon class="contact-icon">place</mat-icon>Chișinău, R.M.</p>
  </mat-card-content>
</mat-card>
