<mat-card class="example-card" editable="false">
  <mat-card-header><mat-card-title>Experience</mat-card-title></mat-card-header>
  <mat-card-content>
    <!-- VERY TRICKY HACK (((  -->
    <!-- NEED TO BE ONLY ONE STEPPER WITH ALL STEPS EXPANDED -->

    <mat-vertical-stepper>
      <ng-template matStepperIcon="number"><mat-icon>work</mat-icon></ng-template>
      <ng-template matStepperIcon="edit"><mat-icon>work</mat-icon></ng-template>
      <ng-template matStepperIcon="done"><mat-icon>work</mat-icon></ng-template>
      <mat-step completed=true>
        <ng-template matStepLabel>
          01/2016 - 12/2017<br>
          <strong>Scientific Researcher</strong>
        </ng-template>
        Moldova State University<br>
        Chișinău, R.M.
      </mat-step>
    </mat-vertical-stepper>
    
    <mat-vertical-stepper>
      <ng-template matStepperIcon="number"><mat-icon>work</mat-icon></ng-template>
      <ng-template matStepperIcon="edit"><mat-icon>work</mat-icon></ng-template>
      <ng-template matStepperIcon="done"><mat-icon>work</mat-icon></ng-template>
      <mat-step completed=true>
        <ng-template matStepLabel>
          11/2014 - 09/2015<br>
          <strong>Scientific Research Intern</strong>
        </ng-template>
        Institute of Genetics, Physiology and Plant Protection of the A.S.M.<br>
        Chișinău, R.M.
      </mat-step>
    </mat-vertical-stepper>
    
    <mat-vertical-stepper>
      <ng-template matStepperIcon="number"><mat-icon>work</mat-icon></ng-template>
      <ng-template matStepperIcon="edit"><mat-icon>work</mat-icon></ng-template>
      <ng-template matStepperIcon="done"><mat-icon>work</mat-icon></ng-template>
      <mat-step completed=true>
        <ng-template matStepLabel>
          10/2013 - 11/2013<br>
          <strong>Call Center Operator</strong>
        </ng-template>
        "Top Shop Studio Moderna" S.R.L.<br>
        Chișinău, R.M.
      </mat-step>
    </mat-vertical-stepper>

  </mat-card-content>
</mat-card>
