<mat-card>
  <mat-card-header><mat-card-title>Projects</mat-card-title></mat-card-header>
  <mat-card-content>

    <mat-vertical-stepper>
      <ng-template matStepperIcon="number"><mat-icon>code</mat-icon></ng-template>
      <ng-template matStepperIcon="edit"><mat-icon>code</mat-icon></ng-template>
      <ng-template matStepperIcon="done"><mat-icon>code</mat-icon></ng-template>
      <mat-step completed=true label="mlp-generator">
        JS Project for Generating Simple Artificial Neural Networks<br>
        <a href="https://github.com/Lure-of-Lysergide/mlp-generator">github.com/Lure-of-Lysergide/mlp-generator</a>
      </mat-step>
    </mat-vertical-stepper>

    <mat-vertical-stepper>
      <ng-template matStepperIcon="number"><mat-icon>code</mat-icon></ng-template>
      <ng-template matStepperIcon="edit"><mat-icon>code</mat-icon></ng-template>
      <ng-template matStepperIcon="done"><mat-icon>code</mat-icon></ng-template>
      <mat-step completed=true label="cv-materializer">
        An Angular 6 Template for Material Design CV<br>
        <a href="https://github.com/Lure-of-Lysergide/cv-materializer">github.com/Lure-of-Lysergide/cv-materializer</a>
      </mat-step>
    </mat-vertical-stepper>

  </mat-card-content>
</mat-card>
