<mat-card>
  <mat-card-header><mat-card-title>Skills</mat-card-title></mat-card-header>
  <mat-card-content>
    <ul class="skills-list">
      <li>C# (Unity3D)</li>
      <li>Java</li>
      <li>JavaScript (NodeJS, ES6, TypeScript)</li>
      <li>CSS (SCSS, Bootstrap)</li>
      <li>HTML</li>
      <li>Wolfram Language</li>
      <li>SQL</li>
      <li>NO-SQL (MongoDB with mongoose)</li>
    </ul>
    <ul class="skills-list">
      <li>The ability to work in a team</li>
      <li>The ability to work individually</li>
      <li>High learnability</li>
      <li>Organizational skills</li>
      <li>Initiative</li>
      <li>Interest</li>
    </ul>
  </mat-card-content>
</mat-card>
