<!-- THIS BTN NEED TO BE OUTSIDE THE #contentToConvert -->
<!-- <button mat-stroked-button type="button" (click)="captureScreen()">
    <mat-icon>get_app</mat-icon>
    <span> download in PDF</span>
</button> -->
<div id='contentToConvert' class="container" fxLayout="column" fxLayoutAlign="center">
  <div><app-header></app-header></div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex.lt-md="35%" fxFlex.gt-sm="30%">
      <div class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div><app-contacts></app-contacts></div>
        <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="35%"><app-languages></app-languages></div>
          <div fxFlex="65%"><app-skills></app-skills></div>
        </div>
      </div>
    </div>

    <div fxFlex.lt-md="65%" fxFlex.gt-sm="70%">
      <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="50%">
          <div class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around">
            <div><app-projects></app-projects></div>
            <div><app-experience></app-experience></div>
          </div>
        </div>
        <div fxFlex="50%"><app-education></app-education></div>
      </div>
    </div>

    <!-- <div>      <app-languages></app-languages>
      <app-skills></app-skills></div> -->
  </div>

  <div><app-footer></app-footer></div>
</div>
