<mat-card>
  <mat-card-header><mat-card-title>Languages</mat-card-title></mat-card-header>
  <mat-card-content>
    <p>
      Russian
      <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
    </p>
    <p>
      Romanian
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </p>
    <p>
      French
      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </p>
    <p>
      English
      <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
    </p>
  </mat-card-content>
</mat-card>
